<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>DIOSTUDIO</title>
    <meta name="description" content="提放有度，自在为人；保持前进，以致更好！">
    <meta name="author" content="王志强">
    <meta name="keywords" content="diostudio, 王志强, python, 编程, python教程, flask">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/404-style.css') }}" type="text/css" media="all">
	<link href="{{ url_for('static', filename='css/404-font-awesome.css') }}" rel="stylesheet">
</head>

<body>
	<section class="w3l-error-block">
		<div class="mainw3 form">
			<div class="subscribe wrapper">
				<div class="subscribe-w3lsbottom text-center">
					<div class="w3l-page">
						Oops!
					</div>
					<h6>It looks like you have taken a wrong way.</h6>
					<h2>404
						<p class="page-mk">
                            Page Not Found
                        </p>
					</h2>
					<a class="theme-button btn" href="{{ url_for('indexPage.index') }}">返回首页</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>